[Unit]
Description=Compose Log Aggregator
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/home/devuser/dev/general/
ExecStart=/usr/bin/docker compose logs -f --no-color --timestamps
StandardOutput=append:/home/devuser/dev/general/logs/compose.log
StandardError=append:/home/devuser/dev/general/logs/compose.log
Restart=always

[Install]
WantedBy=multi-user.target